@reference "tailwindcss";

.table {
  @apply max-w-full overflow-x-auto;

  table {
    thead {
      tr {
        th {
          @apply px-2 py-1 bg-zinc-200 dark:bg-zinc-800;

          p {
            @apply min-w-max bg-transparent!; /* FIXME: PostCSS/LightningCSS error: unknown background color */
          }
        }

        th:nth-child(1) {
          @apply rounded-l-lg;
        }

        th:nth-last-child(1) {
          @apply rounded-r-lg;
        }
      }
    }

    tbody {
      tr {
        td {
          @apply border-r border-b dark:border-r-zinc-900 dark:border-b-zinc-700 px-2 py-1.5;

          &:nth-last-child(1) {
            @apply border-r-0;
          }
        }

        &:nth-last-child(1) td {
          @apply border-b-0;
        }
      }
    }

    &[data-align="center"] {
      tbody > tr > td {
        @apply text-center;
      }
    }
  }
}

.tiles {
  table {

  }
}

.cards {
  table {
    @apply w-full;

    thead {
      @apply hidden;
    }

    tbody {
      @apply grid w-full gap-2 @md:grid-cols-2 @3xl:grid-cols-3 @5xl:grid-cols-4;

      tr {
        @apply flex flex-col border border-zinc-300 dark:border-zinc-800 rounded-xl px-3 py-2;

        td:nth-child(1) {
          @apply mb-1;
        }

        td:not(:nth-child(1)) {
          @apply text-sm text-zinc-500 dark:text-zinc-400;
        }
      }
    }
  }
}
