@import "tailwindcss";

:root {
  --foreground: #171717;
  --background: #ffffff;

  @variant dark {
    --foreground: #ededed;
    --background: #0a0a0a;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-sans: var(--font-geist);
  --font-mono: var(--font-geist-mono);
}

body {
  @apply antialiased bg-background text-foreground font-sans-serif;
}
