@reference "tailwindcss";

.header {}

.main {
  @apply w-full max-w-6xl /* max-w-7xl */ mx-auto p-4;

  .frontmatter {
    @apply pb-4;

    time {
      @apply text-sm text-zinc-700;
    }
  }

  .article {}
}

.footer {
  @apply mb-12;
}
