@reference "../../tailwind.config.css";


dialog.contact {
  @apply p-6 backdrop-blur-2xl rounded-2xl shadow-xl outline bg-zinc-50/80 outline-zinc-300;
  top: calc(50% - (72px / 2) * 3);

  @variant dark {
    @apply backdrop-blur-2xl bg-zinc-800/40 outline-zinc-800 text-white;
  }

  @supports (corner-shape: squircle) {
    @apply rounded-4xl;
    corner-shape: squircle;
  }

  h4 {
    @apply mb-5;
  }

  div {
    @apply flex items-center gap-4 mb-2;
  }

  form {
    @apply flex items-center justify-end;

    button {
      @apply mt-4 px-4 py-1 flex gap-3 items-center justify-center align-middle rounded-md outline cursor-pointer shadow-inner transition-colors
          bg-zinc-50 active:bg-zinc-200 hover:bg-zinc-100 outline-zinc-200 hover:outline-zinc-300 shadow-white;
      transition-duration: 100ms;

      @supports (corner-shape: squircle) {
        @apply rounded-xl;
        corner-shape: squircle;
      }

      @variant dark {
        @apply shadow-zinc-400/10 bg-zinc-800 active:bg-zinc-700 hover:bg-zinc-600 outline-zinc-700 hover:outline-zinc-500;
      }
    }
  }
}

main.main {
  @apply max-w-3xl mx-3 mt-3 flex flex-col gap-4 items-center justify-center;
  min-height: calc(100vh - 72px * 2);

  @variant sm {
    @apply md:mx-auto mt-0;

    section.profile {
      @apply w-max justify-between;
    }
  }

  section.profile {
    @apply w-full flex items-center justify-center p-14 gap-12 rounded-2xl outline bg-white outline-zinc-300;

    @variant dark {
      @apply bg-zinc-900 outline-zinc-700;
    }

    @supports (corner-shape: squircle) {
      @apply rounded-4xl;
      corner-shape: squircle;
    }

    span {
      @apply inline-block max-w-md;

      /* FIXME: temporary workaround */
      background: none !important;
      outline: none !important;

      h1 {
        @apply mb-8 font-bold;
      }

      div {
        @apply flex flex-col mb-8 gap-3.5;
      }

      span {
        @apply flex flex-wrap gap-3 items-center justify-center;

        @media (width >= 384px) {
          @apply justify-between;
        }

        address {
          @apply flex gap-4;

          a {
            @apply text-zinc-600 hover:text-zinc-800 active:text-zinc-950;
            transition: color ease-in-out 100ms;

            @variant dark {
              @apply text-zinc-400 hover:text-zinc-300;
            }
          }
        }

        button {
          @apply px-2.5 py-1.5 flex gap-3 items-center justify-center align-middle rounded-md outline cursor-pointer shadow-inner transition-colors
              bg-zinc-50 active:bg-zinc-200 hover:bg-zinc-100 outline-zinc-200 hover:outline-zinc-300 shadow-white;
          transition-duration: 100ms;

          @supports (corner-shape: squircle) {
            @apply rounded-xl;
            corner-shape: squircle;
          }

          @variant dark {
            @apply shadow-zinc-400/10;
            color: oklch(87.1% 0.006 286.286);
            background-color: oklch(27.4% 0.006 286.033);
            outline-color: oklch(37% 0.013 285.805);

            &:hover {
              color: oklch(92.9% 0.006 286.286);
              background-color: oklch(32.6% 0.006 286.033);
              outline-color: oklch(42% 0.013 285.805);
            }

            &:active {
              color: oklch(89% 0.006 286.286);
              background-color: oklch(29% 0.006 286.033);
              outline-color: oklch(39% 0.013 285.805);
            }
          }
        }
      }
    }

    img {
      @apply hidden sm:block rounded-full;
    }
  }

  section.intro {
    @apply w-full;

    div.blocks {
      @apply grid grid-cols-1 md:grid-cols-3 gap-4;

      span.block {
        @apply p-6 rounded-2xl outline bg-white outline-zinc-300;

        @variant dark {
          @apply bg-zinc-950 outline-zinc-700;
        }

        @supports (corner-shape: squircle) {
          @apply rounded-4xl;
          corner-shape: squircle;
        }

        hr {
          @apply mt-3 mb-4 -mx-1;

          @variant dark {
            @apply border-zinc-700;
          }
        }

        ul {
          li {
            @apply flex items-center gap-4;

            & + li {
              @apply mt-2;
            }

            span:has(svg) {
              @apply size-10 inline-flex justify-center items-center rounded-md bg-zinc-200 text-zinc-700;

              @variant dark {
                @apply bg-zinc-800 text-zinc-300;
              }

              @supports (corner-shape: squircle) {
                @apply rounded-xl;
                corner-shape: squircle;
              }
            }

            p {
              @apply text-zinc-600;

              @variant dark {
                @apply text-zinc-400;
              }
            }
          }
        }
      }
    }
  }

  section.sponsor {
    @apply w-full p-4 px-6 flex items-center justify-between gap-4 rounded-xl outline bg-white outline-[#d1d9e0];

    @supports (corner-shape: squircle) {
      @apply rounded-3xl;
      corner-shape: squircle;
    }

    @variant dark {
      @apply bg-[#0d1117] outline-[#3d444d];
    }

    span {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

      h3 {
        @apply font-semibold mb-2;
      }

      p {
        @apply text-zinc-600;

        @variant dark {
          @apply text-zinc-400;
        }
      }
    }

    iframe {
      @apply rounded-md;

      @supports (corner-shape: squircle) {
        @apply rounded-xl;
        corner-shape: squircle;
      }
    }
  }
}
